.font-size-top-bar {
    font-size:25px;
    font-weight:500;
}
.no-underline-a {
    text-decoration:none;
}

.gray-button-color {
    background-color: rgb(193, 191, 191);
}
.end-css {
    display: flex;
    justify-content: end;
    
  
}

.flex-virtical {
    display: flex;
    flex-direction:column;
}

.custom-breadcrumb-css {
    --bs-breadcrumb-divider: '>';
}

.breadcrumb li {
    margin:4px;
}

.top-bar-height-css {
    height: 50px;
}
.margin-top-css {
    margin-top: 50px;
}
.scroll-css {
    
    max-height: calc(100vh - 50px); /* Adjust the 50px to account for your top bar's actual height */
    overflow-y: scroll; /* This forces the scrollbar to appear if the content overflows */
    
}



